body{
    /* overflow-x: hidden; */
    background-color: #ddd;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0px;
}

header{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 1.5em;
    border-bottom: 1px solid #000;
    background-color: rgb(54, 2, 2); /* rgb(93, 0, 0) */
}

header a i{
    font-size: 2.5em;
    color:  #ddd;
}

.logo {/* LOGO */
    margin-top: 0px;
    font-size: 34px;
    color: #ddd;
    margin-left: 10px;
}

#cart{
    height: auto;
    width: 100%;
    max-width: 1240px;
    margin: 0px auto;
}

#cart #cartContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#cart #cartContainer h2{
    width: 100%;
    text-align:center;
    font-family: 'Poppins',sans-serif;
    margin-bottom: 1em;
}

#cart #cartContainer .cart-item{
    border: 1px solid #ccc;
    width: 100%;
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;
    padding: 1em;
}
#cart #cartContainer .cart-item h4{
    width: 250px;
    text-align: left;
}
.button{
    outline: none;
    padding: 0.7em;
    border-color: rgba(110, 0, 0, 0.9);
    color: rgba(110, 0, 0, 0.9);
    background-color: white;
    font-family: 'Poppins',sans-serif;
    margin: 0.5em;
    border-radius: 20px;
    text-align: center;
    height: 50px;
}

.button:hover {
    border-color: rgba(110, 0, 0);
    background-color: rgba(110, 0, 0);
    color: #ddd;
    /* background-color: whitesmoke; */
}

.info{
    font-family: 'Poppins',sans-serif;
}

#cart #cartContainer .div-btn {
    border: 1px solid #ccc;
    width: 100%;
    margin: 5px 0px;
    display: flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    padding: 1em;
}