@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");
@import url("navbar.css");
@import url("card.css");
@import url("cart.css");
@import url("carrito.css");
@import url("modal.css");
@import url("footer.css");

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

strong {
    font-weight: 600;
}

main, header {
    padding: 20px;
    display: flex;
}

p {
    font-size: large;
}

.cargando {
    text-align: center;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;    
}

.cargando img {
    filter: brightness(90%);
    min-width: 400px;
}

.error {
    text-align: center;
    font-weight: 500;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: whitesmoke;
    padding-bottom: 20px;
    background-color: maroon;
    border-end-end-radius: 30px;
    border-top-left-radius: 10px;
    box-shadow: 8px 30px 50px lightgrey;
}

.error img {
    width: 100px;
}

.ocultar {
    display: none;
}